* {
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
    
}

h1{
    text-align: center;
    font-weight:10px;
    color:#e1e1ec;
}

body{
    background-color:#1B2A40;
}


.floor-input,
.lift-input {
    margin: 5px;
    font-size: 20px;
    color: #e1e1ec;
}

.floor-input input,
.lift-input input {
    background-color: #1B2A40;
    border:#ffffff;  
    border: 1px solid #e1e1ec;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 20px;
    font-family: sans-serif;
    color: #e1e1ec;
}

.button-floor{
    justify-content: left;
    align-items: flex-start;
    background-color: #314963;
    border: 1px #e1e1ec;
    margin: 0px;
    border-radius:4px;
    font-size: 20px;
    padding:5px 5px;
    margin-bottom: 5px;
    display: inline;
    color: #e1e1ec;
}

.button-floor:hover {
    transform:scale(1.1)
}

.generatebutton {
    margin-bottom: 10px;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    padding: 15px 40px;
    border-radius: 5px;
    border: none;
    background-color:#314963;
    margin-right:auto;
    color: #e1e1ec;
    font-weight: 10px;
}

.generatebutton:hover {
    transform: scale(1.1);
}

.lifts {
    width: 60px;
    height: 100px;
    background-color: #507092;
    color: #314963;
    font-size:0;
    position: absolute;
    left: 0;
    top:0;
    border: 2px solid;
    align-items: center;
    border-radius: 8px;
    content: none;
}

.lifts p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-0%, -0%);
}

.floor {
    height: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    color: #e1e1ec;
    border-bottom: #e1e1ec 0.5px solid;
}

.liftMotion{
    transition-duration: 2s;
}

.lifts .gate {
    position: absolute;
    height: 100%;
    width: 80%;
    border-radius: 2px;
    background-color: #314963;
}

.gateLeft {
    left: 0;
}

.gateRight {
    right: 0;
}

.animateLiftsDoorsOnFloorStop  {
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-name: doorSimulation;
}

@keyframes doorSimulation {
    from {
        width: 50%;
    }
    50% {
        width: 0%;
    }
    to {
        width: 50%;
    }
}
/* For mobile */
@media screen and (max-width: 480px) {
    .lifts {
        width: 40px;
        height: 50px;
        background-color: #314963;
        color: #507092;
        font-size:0.5px;
        position: absolute;
        left: -10px;
        margin-left:-14px;
        margin-right:-4px;
        top:0;
        border: 1px solid;
        align-items: center;
        border-radius: 2.5px;
        content: none;
        bottom:0;
        margin-top:50px;
  }
    
    .lifts p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-0%, -0%);
  }
    
    .floor {
      height: 100px;  
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #1B2A40;
      padding: 2.5px;
      border-bottom: #e1e1ec 0.5px solid;
  }
    
    .lifts .gate {
        position: absolute;
        height: 100%;
        width: 50%;
        border-radius: 8px;
        background-color: #314963;
  }

}


@media (min-width: 481px) and (max-width: 767px) {
  .lifts {
        width: 45px;
        height: 50px;
        background-color: #314963;
        color: #507092;
        font-size:0.5px;
        position: absolute;
        left: 0; 
        border: 1px solid;
        align-items: center;
        border-radius: 2.5px;
        content: none;
        bottom:0;
        margin-top:50px;
}
  
  .lifts p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-0%, -0%);
}
    
  .floor {
      height: 100px;  
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #1B2A40;
      padding: 2.5px;
      border-bottom: #e1e1ec 0.5px solid;
  }
    
 .lifts .gate {
        position: absolute;
        height: 100%;  
        width: 50%;
        background-color: #507092;
}
  
}    